html
html
   head
      title Gestion des personnes - Supprimer une personne
   body
      h1 Gestion des personnes
      h2 Supprimer une personne :
      div
         table(border='1')
            tr
               td Résultat :
               td #{body}
         table
            tr
               td
                  br
                  a(class="button", href="/") Maison
               td
               td
                  br
                  a(class="button", href="/action?action=delete") Retour
