html
html
   head
      title Gestion des personnes - Entrer une nouvelle personne
   body
      h1 Gestion des personnes
      h2 Entrer une nouvelle personne :
      div
         table(border='1')
            tr
               td #[strong Résultat]
               td #{body}                  
         table   
            tr
               td
                  br
                  a(class="button", href="/") Maison
               td
               td
                  br
                  a(class="button", href="/action?action=input") Retour
