html
html
   head
      title Gestion des personnes - Rechercher une personne
   body
      h1 Gestion des personnes
      h2 Rechercher une personne par son identifiant :
      div
         table(border='1')
            tr
               td #[strong Résultat]
               td #{body}
         table   
            tr
               td
                  br
                  a(class="button", href="/") Maison
               td
               td
                  br
                  a(class="button", href="/action?action=retrieve") Retour
